.hero-background {
    @extend %grey-section;
    display: flex;
    max-width: 1600px;
    align-items: center;
    margin: 0 auto;
    background-color: #c4c4c4;
    @media screen and (max-width: 767px) {
            background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url("/goit-markup-hw-08/images/background/mobile-bg.jpg");
            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image:
                        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url("/goit-markup-hw-08/images/background/mobile-bg@2x.jpg");
                }
        }
    
        @media screen and (min-width: 768px)and (max-width: 1199px) {
            background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url("/goit-markup-hw-08/images/background/tablet-bg.jpg");
            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image:
                        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url("/goit-markup-hw-08/images/background/tablet-bg@2x.jpg");
                }
        }
    
        @media screen and (min-width: 1200px) {
            background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url("/goit-markup-hw-08/images/background/desctop-bg.jpg");
            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                        background-image: 
                        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                            url("/goit-markup-hw-08/images/background/desctop-bg@2x.jpg");
                }

        }
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.hero {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
            padding-top: 118px;
            padding-bottom: 118px;
        }
    @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero__inscription {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondary-color;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.37;
        }
   
}

.hero__inscription--item {
    display: block;
    margin: 0;
    padding: 0;
}

/* головна кнопка */
.hero-button {
    display: flex;
    text-align: center;
    padding: 10px 24px;
    // padding: 10px 32px;
    border-style: none;
    color: $secondary-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    transition: background-color 250ms $timing-function;

    &:focus {
            background: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }
    &:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
}