$text-main-font: Roboto;
/*кольори*/
$text-main-color: #757575;

$accent-color: #2196f3;

$text-title-color: #212121;

$secondary-color: #FFFFFF;

$background-color: #F5F4FA;

$svg-main-color: #AFB1B8;

/*часова функція для анімацій*/

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/*шрифти*/
$text-main-font: Roboto, sans-serif;

$text-logo-font: Raleway;

